Source: ros-hydro-nao-gazebo-plugin
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael.arguedas@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-gazebo-ros, ros-hydro-nao-description, ros-hydro-ros-control, ros-hydro-ros-controllers
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-nao-gazebo-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-gazebo-plugins, ros-hydro-gazebo-ros, ros-hydro-gazebo-ros-control, ros-hydro-nao-control, ros-hydro-nao-description, ros-hydro-ros-control, ros-hydro-ros-controllers
Description: The nao_gazebo_plugin package
